<nav class="navbar nav-hidden">
    <img src="https://res.cloudinary.com/dvrziwgxp/image/upload/v1665761117/Logo-removebg-short_mwxc1r.png" alt="the websponsive logo" draggable="false" class="navbar-logo">
    <button id="dark-mode-button" class="nav-button" aria-label="switch the color profile" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon moon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5"  fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
        </svg> 
        <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon
        sun" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="12" cy="12" r="4" />
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
          </svg>
    </button>
    <button id="menu-button" class="nav-button" name="Menu Button" aria-expanded="false" aria-label="expand or collapse the navbar on mobile">
        <svg xmlns="http://www.w3.org/2000/svg" class="nav-icon pressed" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" class="line1"/>
            <line x1="4" y1="12" x2="20" y2="12" class="line2"/>
            <line x1="4" y1="18" x2="20" y2="18" class="line3"/>
        </svg>
    </button> 
    <ul class="navbar-list">
        <li class="navbar-list-item"><a href="/" class="navbar-link dark-bg-link light">Home</a></li>
        <li class="navbar-list-item"><a href="/blog" class="navbar-link dark-bg-link light">Blog</a></li>
        <li class="navbar-list-item"><a href="/contacts" class="navbar-link dark-bg-link light">Contacts</a></li>
        <li class="navbar-list-item"><a href="/faq" class="navbar-link dark-bg-link light">FAQ</a></li>
    </ul>
</nav> 