*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: var(--bg-color-pine-green);
  color: var(--f-color-light);
}

::selection {
  background-color: var(--bg-color-pine-green);
  color: var(--f-color-light);
}

:root {
  font-size: 20px;
  --f-family-josefin:"Josefin Sans", sans-serif;
  --f-family-ubuntu: "Ubuntu", sans-serif;
  --bg-color-green: hsl(155, 82%, 59%);
  --bg-color-pine-green: hsl(175, 98%, 30%);
  --bg-color-darker-blue: hsl(226, 61%, 14%);
  --bg-color-dark-blue: hsl(226, 61%, 17%);
  --bg-color-less-dark-blue: hsl(226, 61%, 20%);
  --bg-color-darkish-blue: hsl(226, 61%, 25%);
  --bg-color-lighter-blue: hsl(226, 74%, 30%);
  --bg-color-light-blue: hsl(209, 56%, 50%);
  --bg-color-purple: hsl(282, 68%, 38%);
  --bg-color-violet: hsl(262, 52%, 47%);
  --bg-color-pink: hsl(340, 82%, 76%);
  --bg-gradient-button: linear-gradient(
      135deg,
      var(--bg-color-violet),
      var(--bg-color-purple),
      var(--bg-color-pink),
      var(--bg-color-green),
      var(--bg-color-light-blue),
      var(--bg-color-lighter-blue)
  );
  --f-color-light: hsl(0, 0%, 95%);
  --f-color-less-light: hsl(0, 0%, 75%);
  --f-color-dark: hsl(0, 0%, 20%);
  --f-color-gray: hsl(246, 9%, 54%);
  --f-color-gradient-blue: linear-gradient(
      90deg,
      var(--bg-color-green),
      var(--bg-color-light-blue),
      var(--bg-color-green));
  --f-color-gradient-violet: linear-gradient(
      90deg,
      var(--bg-color-purple),
      var(--bg-color-violet),
      var(--bg-color-pink),
      var(--bg-color-purple));
  --f-color-gradient-gray: linear-gradient(
      var(--f-color-less-light),
      var(--f-color-gray));
  --f-size-xxl: calc(2rem + 1.5vw);
  --f-size-header: calc(1.75rem + 1vw);
  --f-size-small-header: calc(1.25rem + 1vw);
  --f-size-title: calc(1rem + 0.5vw);
  --f-size-paragraph: calc(0.75rem + 0.5vw);
  --f-size-small: calc(0.5rem + 0.5vw);
  --transition-speed-fast: 250ms;
  --transition-speed-slow: 500ms;
  --phone-break-point: 560px;
  --computer-break-point: 1300px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--f-color-light);
}

/* Navbar Styles */
.navbar {
  --background: hsla(226, 61%, 17%, 0.2);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: var(--background);
  transition: background-color var(--transition-speed-slow);
  -webkit-animation-name: navbar-pop;
          animation-name: navbar-pop;
  -webkit-animation-duration: var(--transition-speed-slow);
          animation-duration: var(--transition-speed-slow);
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  transform: translateY(-5rem);
}
.navbar .navbar-logo {
  margin-left: 0.5rem;
}
.navbar .navbar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1rem;
  transition: all var(--transition-speed-slow);
}
.navbar .navbar-list .navbar-list-item {
  height: 1rem;
}
.navbar .navbar-list .navbar-list-item .navbar-link {
  text-decoration: none;
  font-family: var(--f-family-josefin);
  font-size: var(--f-size-paragraph);
}
.navbar .navbar-list .navbar-list-item .navbar-link::before {
  content: "";
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--transition-speed-fast) ease-in-out;
}
.navbar .navbar-list .navbar-list-item .navbar-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar .nav-button {
  width: 3rem;
  aspect-ratio: 1/1;
}
.navbar .nav-button#cart-button {
  position: relative;
}
.navbar .nav-button#cart-button .cart-icon-1 {
  position: absolute;
  opacity: 0;
  transform: translateX(-2rem);
  transition: opacity var(--transition-speed-fast) ease-in-out 100ms, transform var(--transition-speed-slow) ease-in-out;
}
.navbar .nav-button#cart-button .cart-icon-2 {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--transition-speed-fast) ease-in-out 100ms, transform var(--transition-speed-slow) ease-in-out;
}
.navbar .nav-button#cart-button[aria-expanded=true] .cart-icon-1 {
  opacity: 1;
  transform: translateX(0);
}
.navbar .nav-button#cart-button[aria-expanded=true] .cart-icon-2 {
  opacity: 0;
  transform: translateX(2rem);
}
.navbar .nav-button#menu-button[aria-expanded=true] .line1 {
  transform: translate(0px, 4.5px) rotateZ(45deg);
}
.navbar .nav-button#menu-button[aria-expanded=true] .line2 {
  transform: translateX(-20px);
  opacity: 0;
}
.navbar .nav-button#menu-button[aria-expanded=true] .line3 {
  transform: translate(0px, -4px) rotateZ(-45deg);
}
.navbar .nav-button .nav-icon {
  width: 2rem;
  aspect-ratio: 1/1;
  stroke: var(--f-color-light);
}
.navbar .nav-button .nav-icon line {
  transition: var(--transition-speed-slow);
  transform-origin: center;
}
.navbar .cart {
  position: absolute;
  margin: 0.5rem;
  background-color: hsla(246deg, 9%, 85%, 0.85);
  border-radius: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.navbar .cart .cart-item {
  width: 100%;
  display: grid;
  background-color: var(--f-color-light);
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--f-color-gray);
}
.navbar .cart .cart-item .cart-plan-input,
.navbar .cart .cart-item .cart-quantity-input {
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid var(--bg-color-lighter-blue);
  transition: all var(--transition-speed-fast) ease-in-out;
}
.navbar .cart .cart-item .cart-plan-input:hover, .navbar .cart .cart-item .cart-plan-input:focus,
.navbar .cart .cart-item .cart-quantity-input:hover,
.navbar .cart .cart-item .cart-quantity-input:focus {
  border: 2px solid var(--bg-color-pine-green);
  outline: none;
}
.navbar .cart .cart-item .cart-remove-button {
  border-radius: 0.5rem;
  background-color: red;
  display: grid;
  place-content: center;
  transition: all var(--transition-speed-fast) ease-in-out;
}
.navbar .cart .cart-item .cart-remove-button:hover {
  transform: translateY(-2px);
}
.navbar .cart .cart-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.navbar .cart .cart-end .cart-checkout-button {
  background-color: var(--f-color-light);
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid var(--bg-color-lighter-blue);
  transition: all var(--transition-speed-fast) ease-in-out;
}
.navbar .cart .cart-end .cart-checkout-button:hover {
  border: 2px solid var(--bg-color-pine-green);
  outline: none;
}
.navbar .cart-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: opacity var(--transition-speed-fast) ease-in-out, max-height var(--transition-speed-slow) ease-in-out, visibility var(--transition-speed-slow), transform var(--transition-speed-slow), box-shadow var(--transition-speed-slow);
  box-shadow: 0 0 0 100vmax hsla(0deg, 0%, 20%, 0);
}
.navbar .cart-visible {
  opacity: 1;
  transition: opacity var(--transition-speed-slow) ease-in-out, max-height var(--transition-speed-slow) ease-in-out, transform var(--transition-speed-slow), box-shadow var(--transition-speed-slow);
  transform: translateX(0);
  box-shadow: 0 0 0 100vmax hsla(0deg, 0%, 20%, 0.25);
}

.nav-scrolled {
  --background: hsla(226, 61%, 17%, 0.85);
}

@media screen and (max-width: 560px) {
  .navbar {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }
  .navbar .navbar-list {
    flex-direction: column;
    width: 100%;
    grid-column: span 3;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .navbar .navbar-list .navbar-list-item {
    margin: 0.5rem 1rem 1.5rem 1.5rem;
  }
  .navbar .navbar-logo {
    height: 2.5rem;
    margin: 0.75rem 0 0.75rem 0.5rem;
    justify-self: start;
  }
  .navbar .nav-button {
    align-self: center;
  }
  .navbar .nav-button #cart-button {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 999;
  }
  .navbar .nav-button #menu-button {
    grid-column: 3/4;
    z-index: 1000;
  }
  .navbar.nav-hidden {
    max-height: 80px;
    transition: max-height var(--transition-speed-slow) ease-in-out, background-color var(--transition-speed-slow);
  }
  .navbar.nav-hidden .navbar-list {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0ms ease-in-out, visibility 0ms;
    max-height: 0px;
  }
  .navbar.nav-visible {
    max-height: 320px;
    transition: max-height var(--transition-speed-slow) ease-in-out, background-color var(--transition-speed-slow);
  }
  .navbar.nav-visible .navbar-list {
    opacity: 1;
    transition: opacity var(--transition-speed-slow) ease-in-out var(--transition-speed-fast), visibility var(--transition-speed-slow);
  }
  .navbar .cart {
    top: 4rem;
    width: 95%;
    justify-self: center;
    padding: 0.5rem;
  }
  .navbar .cart .cart-item {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-items: left;
  }
  .navbar .cart .cart-item .cart-plan-input {
    grid-column: span 2;
    width: 100%;
    height: 2rem;
  }
  .navbar .cart .cart-item .cart-quantity-input {
    width: 4.5rem;
    aspect-ratio: 7/3;
  }
  .navbar .cart .cart-item .cart-remove-button {
    width: 4.5rem;
    aspect-ratio: 7/3;
  }
  .navbar .cart .cart-checkout-button {
    height: 2rem;
    width: 100%;
  }
}
@media screen and (min-width: 561px) {
  .navbar {
    display: flex;
    height: 5rem;
  }
  .navbar .navbar-list {
    width: 60%;
  }
  .navbar .navbar-logo {
    width: 8rem;
    transform: translateY(4px);
  }
  .navbar #menu-button {
    display: none;
  }
  .navbar #cart-button {
    margin-right: 2rem;
    order: 3;
    margin-left: auto;
  }
  .navbar .cart {
    top: 5rem;
    right: 0;
    width: 75%;
    padding: 1rem;
  }
  .navbar .cart .cart-item {
    grid-template-columns: 3fr 2fr 2fr 2fr;
    align-items: center;
  }
  .navbar .cart .cart-item .cart-plan-input {
    height: 2rem;
    grid-column: span 2;
    width: 70%;
  }
  .navbar .cart .cart-item .cart-quantity-input,
.navbar .cart .cart-item .cart-remove-button {
    width: 4.5rem;
    aspect-ratio: 7/3;
  }
  .navbar .cart .cart-checkout-button {
    height: 2.5rem;
    width: 75%;
    justify-self: center;
  }
}
@media screen and (min-width: 1300px) {
  .navbar .cart {
    top: 5rem;
    right: 0;
    width: 50%;
    padding: 1rem;
  }
}
@-webkit-keyframes navbar-pop {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes navbar-pop {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
/* Intro Page Styles */
.intro {
  background: radial-gradient(circle at 10% 100%, var(--bg-color-lighter-blue) 5%, var(--bg-color-darkish-blue) 20%, var(--bg-color-less-dark-blue) 40%, transparent 70%), radial-gradient(circle at 0% 0%, var(--bg-color-lighter-blue) 5%, var(--bg-color-darkish-blue) 20%, var(--bg-color-less-dark-blue) 40%, transparent 70%), radial-gradient(circle at 100% 40%, var(--bg-color-lighter-blue) 0%, var(--bg-color-darkish-blue) 25%, var(--bg-color-less-dark-blue) 50%, transparent 75%);
  display: grid;
  place-items: center;
}
.intro .container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
.intro .container .intro-header {
  font-family: var(--f-family-ubuntu);
  color: var(--f-color-light);
  font-size: var(--f-size-header);
  text-align: center;
  line-height: 3rem;
  width: 80%;
}
.animated-element {
  display: inline-block;
  position: relative;
  transform: rotateX(-90deg) translateY(60px);
  -webkit-animation-name: text-rotate;
          animation-name: text-rotate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animated-element[data-index="1"] {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.animated-element[data-index="2"] {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.animated-element[data-index="3"] {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.animated-element[data-index="4"] {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.animated-element[data-index="5"] {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.animated-element[data-index="6"] {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-name: text-rotate, text-gradient;
          animation-name: text-rotate, text-gradient;
  -webkit-animation-duration: 0.5s, 3s;
          animation-duration: 0.5s, 3s;
  -webkit-animation-iteration-count: initial, infinite;
          animation-iteration-count: initial, infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: var(--f-color-gradient-blue);
  text-shadow: none;
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animated-element[data-index="7"] {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

.intro .container .intro-button {
  width: 70%;
  height: 3rem;
  padding: 0.5rem;
}

@-webkit-keyframes text-rotate {
  from {
    transform: rotateX(-90deg) translateY(60px);
  }
  to {
    transform: rotateX(0deg) translateY(0px);
  }
}

@keyframes text-rotate {
  from {
    transform: rotateX(-90deg) translateY(60px);
  }
  to {
    transform: rotateX(0deg) translateY(0px);
  }
}
/* Content styles */
#content .section-image {
  border-radius: 1rem;
}
#content .content-section {
  position: relative;
}
@media screen and (max-width: 560px) {
  #content .intro {
    height: calc(100vh + 100px);
    height: calc(100lvh + 100px);
    padding-bottom: 100px;
  }
  #content .content-section {
    padding: 8rem 1rem 13rem 1rem;
  }
  #content .section-image {
    width: 90%;
    justify-self: center;
  }
}
@media screen and (min-width: 561px) {
  #content .intro {
    height: calc(100vh + 150px);
    padding-bottom: 150px;
  }
  #content .content-section {
    padding: 8rem 2rem 18rem 2rem;
  }
  #content .section-image {
    width: clamp(30vw, 90%, 45vw);
    max-width: 500px;
    justify-self: center;
  }
}
@media screen and (min-width: 1300px) {
  #content .intro {
    height: calc(100vh + 200px);
    padding-bottom: 200px;
  }
  #content .content-section {
    padding: 10rem 4rem 22rem 4rem;
  }
}
#content #seo,
#content #security,
#content #benefits {
  background-color: var(--bg-color-dark-blue);
}
#content #benefits {
  display: grid;
}
#content #benefits .benefits-header {
  justify-self: center;
  margin-bottom: 3rem;
  text-align: center;
}
#content #benefits .cards {
  display: grid;
}
#content #benefits .cards .benefit {
  background-color: var(--bg-color-darkish-blue);
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 1rem;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}
#content #benefits .cards .benefit .icon {
  stroke: var(--f-color-less-light);
  aspect-ratio: 1/1;
  transition: transform var(--transition-speed-fast) ease-in-out;
}
#content #benefits .cards .benefit:hover::before {
  opacity: 1;
}
#content #benefits .cards .benefit .title {
  text-align: center;
  align-self: center;
}
@media screen and (max-width: 560px) {
  #content #benefits {
    padding: 10rem 1.5rem 1.5rem 1.5rem;
  }
  #content #benefits .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  #content #benefits .cards .benefit {
    grid-template-rows: 1fr 1fr;
    padding: 0.5rem;
    aspect-ratio: 1/1;
  }
  #content #benefits .cards .benefit .icon {
    width: 3.5rem;
  }
  #content #benefits .cards .footnote {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 561px) {
  #content #benefits {
    padding-top: 20rem;
    padding-bottom: 2rem;
  }
  #content #benefits .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #content #benefits .cards .benefit {
    aspect-ratio: 1/1;
    padding: 1rem;
  }
  #content #benefits .cards .benefit .icon {
    width: 10vw;
  }
  #content #benefits .cards .benefit::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient(45vw circle at var(--mouse-x) var(--mouse-y), hsla(172deg, 100%, 70%, 0.2), transparent 40%);
    transition: opacity var(--transition-speed-slow) ease;
    opacity: 0;
    border-radius: inherit;
  }
  #content #benefits .cards .benefit:hover .icon {
    transform: scale(1.2);
  }
  #content #benefits .cards .footnote {
    margin-top: 5rem;
    grid-column: span 2;
  }
}
@media screen and (min-width: 1300px) {
  #content #benefits {
    padding-top: 35rem;
    padding-bottom: 4rem;
  }
  #content #benefits .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  #content #benefits .cards .benefit {
    aspect-ratio: 1/1;
    grid-template-rows: 2fr 3fr;
  }
  #content #benefits .cards .benefit .icon {
    width: 4rem;
  }
  #content #benefits .cards .benefit::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient(30vw circle at var(--mouse-x) var(--mouse-y), hsla(172deg, 100%, 70%, 0.2), transparent 40%);
    z-index: 2;
    transition: opacity var(--transition-speed-slow) ease;
    opacity: 0;
    border-radius: inherit;
  }
  #content #benefits .cards .footnote {
    margin-top: 7rem;
    grid-column: span 3;
  }
}
#content footer {
  background-color: var(--bg-color-darker-blue);
  display: grid;
}
#content footer .footer-section {
  display: grid;
  justify-items: center;
  place-content: center;
  gap: 1rem;
}
#content footer .footer-section .footer-button {
  padding: 0.5rem;
  height: 3rem;
  width: 10rem;
}
#content footer .footer-section .footer-image {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 0 1rem hsla(226deg, 74%, 30%, 0.5), 0 0 0 2rem hsla(209deg, 56%, 50%, 0.25);
}
#content footer .footer-section.contacts .footer-social-list {
  display: flex;
  gap: 1rem;
}
#content footer .footer-section.contacts .footer-social-list .footer-social-link .footer-social-icon {
  stroke: var(--f-color-less-light);
  border: 3px solid var(--f-color-gray);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all var(--transition-speed-fast) ease-in-out;
}
#content footer .footer-section.contacts .footer-social-list .footer-social-link:hover .footer-social-icon {
  background-color: var(--f-color-less-light);
  stroke: var(--f-color-dark);
  border: 3px solid var(--f-color-less-light);
}
@media screen and (max-width: 560px) {
  #content footer {
    padding: 6rem 1rem 1rem 1rem;
    gap: 5rem;
  }
  #content footer .footer-section .footer-image {
    width: 80%;
  }
  #content footer .footer-section .footer-logo {
    width: 5rem;
  }
  #content footer .footer-section.contacts {
    grid-template-columns: 2fr 3fr;
  }
  #content footer .footer-section.contacts .footer-logo {
    justify-self: center;
  }
  #content footer .footer-section.contacts .footer-social-list {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
  #content footer .footer-section.contacts .small-text {
    grid-column: span 2;
    justify-self: center;
    align-self: end;
    border-top: var(--f-color-gray) 1px solid;
    padding-top: 1rem;
    width: 85%;
    text-align: center;
  }
}
@media screen and (min-width: 561px) {
  #content footer {
    gap: 5rem;
    padding: 8rem 2rem 2rem 2rem;
  }
  #content footer .footer-section .footer-image {
    width: 50%;
  }
  #content footer .footer-section .footer-logo {
    width: 8rem;
  }
  #content footer .footer-section.contacts {
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }
  #content footer .footer-section.contacts .small-text {
    justify-self: center;
  }
}
@media screen and (min-width: 1300px) {
  #content footer {
    grid-template-columns: 1fr 1fr;
  }
  #content footer .footer-section .footer-image {
    width: 65%;
  }
  #content footer .footer-section.contacts {
    grid-column: span 2;
  }
}
#content .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
#content .wave svg {
  position: relative;
  display: block;
  height: 150px;
  width: calc(100% + 1.3px);
}
#content .wave-intro .shape-fill, #content .wave-seo .shape-fill, #content .wave-security .shape-fill {
  fill: var(--f-color-light);
}
#content .wave-design .shape-fill, #content .wave-accessibility .shape-fill {
  fill: var(--bg-color-dark-blue);
}
#content .opaque-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
#content .opaque-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 200px;
}
#content .opaque-wave .shape-fill {
  fill: var(--f-color-light);
}
#content .curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
#content .curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
#content .curve .shape-fill {
  fill: #111D46;
}
@media (max-width: 560px) {
  #content .wave svg, #content .opaque-wave svg {
    width: calc(110% + 1.3px);
    height: 100px;
  }
  #content .curve svg {
    height: 70px;
  }
}
@media screen and (min-width: 1300px) {
  #content .wave svg, #content .opaque-wave svg {
    width: calc(100% + 1.3px);
    height: 225px;
  }
  #content .curve svg {
    height: 130px;
  }
}
.link {
  text-decoration: none;
  font-family: var(--f-family-josefin);
  font-size: var(--f-size-paragraph);
  transition: all var(--transition-speed-fast) ease-in-out;
  white-space: nowrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--transition-speed-slow) ease-in-out;
  z-index: 1;
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.light-bg-link:hover {
  color: var(--f-color-dark);
}
.light-bg-link::before {
  background-color: var(--f-color-dark);
}

.dark-bg-link:hover {
  color: var(--f-color-light);
}
.dark-bg-link svg {
  stroke: var(--f-color-light);
}
.dark-bg-link::before {
  background-color: var(--f-color-light);
}

.arrow {
  transform: translateX(-10px);
  transition: all var(--transition-speed-fast) ease-in-out;
}

.stroke {
  stroke-dasharray: 45;
  stroke-dashoffset: 45;
}

.link > svg {
  position: absolute;
  height: 125%;
  /* transform: translateY(-5px); */
  bottom: -3px;
  left: 98%;
}
.link:hover > svg > .stroke {
  -webkit-animation: svg-animate 1s ease forwards;
          animation: svg-animate 1s ease forwards;
}
.link:hover > svg > .arrow {
  transform: translateX(0);
}
@-webkit-keyframes svg-animate {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes svg-animate {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 560px) {
  .faded-in-left,
.faded-in-right {
    transform: translateY(2rem) scale(0.9);
    opacity: 0;
    transition: all var(--transition-speed-slow);
  }
  .faded-out {
    opacity: 1;
    transform: translateX(0rem) scale(1);
  }
}
@media screen and (min-width: 561px) {
  .faded-in-left {
    transform: translateX(-2rem) scale(0.9);
    opacity: 0;
    transition: all var(--transition-speed-slow);
  }
  .faded-in-right {
    transform: translateX(2rem) scale(0.9);
    opacity: 0;
    transition: all var(--transition-speed-slow);
  }
  .faded-out {
    opacity: 1;
    transform: translateX(0rem) scale(1);
  }
}
/* Utility classes */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.xxl {
  font-size: var(--f-size-xxl);
}

.header {
  font-size: var(--f-size-header);
}

.small-header {
  font-size: var(--f-size-small-header);
}

.title {
  font-size: var(--f-size-title);
}

.paragraph {
  font-size: var(--f-size-paragraph);
}

.small-text {
  font-size: var(--f-size-small);
}

.dark {
  color: var(--f-color-dark);
}

.gray {
  color: var(--f-color-gray);
}

.light {
  color: var(--f-color-light);
}

.less-light {
  color: var(--f-color-less-light);
}

.grid {
  display: grid;
}

.half-section {
  display: grid;
  gap: 0.5rem;
}

@media screen and (max-width: 560px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .grid .image-section {
    grid-row: 2/3;
    display: none;
  }
}
@media screen and (min-width: 561px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
}
.blue-gradient-text {
  background: var(--f-color-gradient-blue);
  text-shadow: none;
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: text-gradient 3s infinite linear;
          animation: text-gradient 3s infinite linear;
  /* text-shadow: 0 0 0px var(--f-color-gray); */
}

.violet-gradient-text {
  background: var(--f-color-gradient-violet);
  text-shadow: none;
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0 0 0px var(--f-color-gray); */
  -webkit-animation: text-gradient 3s infinite linear;
          animation: text-gradient 3s infinite linear;
}

.gray-gradient-text {
  background: var(--f-color-gradient-gray);
  text-shadow: none;
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0 0 0px var(--f-color-gray); */
}

@-webkit-keyframes text-gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

@keyframes text-gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.button {
  border-radius: 0.5rem;
  background-image: var(--bg-gradient-button);
  background-size: 250%;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  transition: background-position var(--transition-speed-slow) cubic-bezier(0.77, 0, 0.18, 1);
  box-shadow: 0 0 20px hsla(0deg, 0%, 0%, 0.5);
}
.button:hover {
  background-position: 0% 0%;
}/*# sourceMappingURL=style.css.map */