*, *::before, *::after{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    position: relative;
    padding: 0; margin: 0;
}
:root{
    font-size: 20px;

    --bg-color-green: hsl(155, 82%, 59%);
    --bg-color-darker-blue: hsl(226, 61%, 12%);
    --bg-color-dark-blue: hsl(226, 61%, 17%);
    --bg-color-darkish-blue: hsl(226, 61%, 25%);
    --bg-color-lighter-blue: hsl(226, 74%, 30%);
    --bg-color-light-blue: hsl(209, 56%, 50%);
    --bg-color-purple: hsl(282, 68%, 38%);
    --bg-color-violet: hsl(262, 52%, 47%);
    --bg-color-pink: hsl(340, 82%, 76%);
    --bg-gradient-blue: radial-gradient(
        circle at 20% 100%, 
        var(--bg-color-lighter-blue) 15%,
        var(--bg-color-dark-blue) 60%, 
        var(--bg-color-darker-blue));

    --bg-gradient-button: linear-gradient(
        135deg,
        var(--bg-color-violet), 
        var(--bg-color-purple), 
        var(--bg-color-pink),
        var(--bg-color-green), 
        var(--bg-color-light-blue),
        var(--bg-color-lighter-blue)
    );
    
    --f-color-light: hsl(0, 0%, 95%);
    --f-color-less-light: hsl(0, 0%, 75%);
    --f-color-dark: hsl(0, 0%, 20%);
    --f-color-gray: hsl(246, 9%, 54%);
    --f-color-gradient-blue: linear-gradient(
        90deg, 
        var(--bg-color-green), 
        var(--bg-color-light-blue), 
        var(--bg-color-green));
    --f-color-gradient-violet: linear-gradient(
        90deg, 
        var(--bg-color-purple), 
        var(--bg-color-violet), 
        var(--bg-color-pink), 
        var(--bg-color-purple));

    --f-color-gradient-gray: linear-gradient(
        var(--f-color-less-light),
        var(--f-color-gray));

    --f-family-josefin:'Josefin Sans', sans-serif;
    --f-family-ubuntu: 'Ubuntu', sans-serif;

    --f-size-xxl: calc(2rem + 1.5vw);
    --f-size-header: calc(1.75rem + 1vw);
    --f-size-small-header: calc(1.25rem + 1vw);
    --f-size-title: calc(1rem + 0.5vw);
    --f-size-paragraph: calc(0.75rem + 0.5vw);
    --f-size-small: calc(0.5rem + 0.5vw);

    --transition-speed-fast: 250ms;
    --transition-speed-slow: 500ms;

    --phone-break-point: 760px;
    --computer-break-point: 1300px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: var(--f-color-light);
}

/* Navbar Styles */

.navbar{
    --background: hsla(226, 61%, 17%, 0.2);

    display: flex;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1;
    width: 100vw;
    background-color: var(--background);
    transition: background-color var(--transition-speed-slow);
    
    animation-name: navbar-pop;
    animation-duration: var(--transition-speed-slow);
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    transform: translateY(-5rem);
    .navbar-logo{
        transform: translateY(4px);
        margin-left: 0.5rem;
    } 
    .navbar-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 1rem;
        // width: 60%;
        .navbar-list-item{
            height: 1rem;
            
            .navbar-link{
                // color: var(--f-color-light);
                text-decoration: none;
                font-family: var(--f-family-josefin);
                font-size: var(--f-size-paragraph);

                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    bottom: -2px;
                    left: 0;
                    position: absolute;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform var(--transition-speed-fast) ease-in-out;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}

.nav-scrolled{
    --background: hsla(226, 61%, 17%, 0.85);
}
@media screen and (max-width: 760px){
    .navbar-list{
        width: 100%;
    }
    .navbar-logo{
        height: 60%;
    }
}
@media screen and (min-width: 760px){
    .navbar-list{
        width: 60%;
    }
    .navbar-logo{
        height: 80%;
    }
}

@keyframes navbar-pop {
    from{transform: translateY(-5rem);}
    to{transform: translateY(0);}
}


/* Intro Page Styles */
.intro{
    background-image: var(--bg-gradient-blue);
    display: grid;
    place-items: center;

    .container{
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;

        .intro-header{
            font-family: var(--f-family-ubuntu);
            color: var(--f-color-light);
            font-size: var(--f-size-header);
            text-align: center;
            line-height: 3rem;
            width: 80%;
    
            @at-root .animated-element{
                display: inline-block;
                position: relative;
                transform: rotateX(-90deg) translateY(60px);
                animation-name: text-rotate;
                animation-duration: 0.5s;
                // animation-iteration-count: initial;
                animation-fill-mode: forwards;
    
                &[data-index="1"]{
                    animation-delay: 0s;
                    animation-iteration-count: initial;
                }
                &[data-index="2"]{
                    animation-delay: 0.25s;
                    animation-iteration-count: initial;
                }
                &[data-index="3"]{
                    animation-delay: 0.5s;
                    animation-iteration-count: initial;
                }
                &[data-index="4"]{
                    animation-delay: 0.75s;
                    animation-iteration-count: initial;
                }
                &[data-index="5"]{
                    animation-delay: 1s;
                    animation-iteration-count: initial;
                }
                &[data-index="6"]{
                    animation-delay: 1.75s;
                    animation-name: text-rotate, text-gradient;
                    animation-duration: 0.5s, 3s;
                    animation-iteration-count: initial, infinite;
                    animation-timing-function: linear;
                    background: var(--f-color-gradient-blue);
                    text-shadow: none;
                    background-clip: text;
                    background-size: 200%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // animation: text-gradient 3s infinite linear;
                }
                &[data-index="7"]{
                    animation-delay: 2.5s;
                    animation-iteration-count: initial;
                }
            }
            
        }

        .intro-button{
            width: 70%;
            height: 3rem;
            padding: 0.5rem;
        }
    }
}
@keyframes text-rotate {
    from{transform: rotateX(-90deg) translateY(60px);}
    to{transform: rotateX(0deg) translateY(0px);}
}


/* Content styles */
#content{
    #code,
    #security,
    #benefits{
        background-color: var(--bg-color-dark-blue);
    }

    #benefits{
        display: grid;
        .benefits-header{
            justify-self: center;
            margin-bottom: 3rem;
        }
        .cards{
            display: grid;
            .benefit{
                background-color: var(--bg-color-darkish-blue);
                opacity: 0.8;
                border: 2px solid rgba(255, 255, 255, 0.2);
                width: 100%;
                aspect-ratio: 3/2;
                border-radius: 1rem;
                position: relative;
                cursor: pointer;
                // --mouse-x: 0px;
                // --mouse-y: 0px;
                display: grid;
                place-items: center;
                align-items: center;
                .icon{
                    stroke: var(--f-color-less-light);
                    aspect-ratio: 1/1;
                    transition: transform var(--transition-speed-fast) ease-in-out;
                }
                &:hover::before{
                    opacity: 1;
                }
                .paragraph{
                    text-align: center;
                }
            }
        }
    }
    @media screen and (max-width: 560px){
        #benefits{
            padding: 10rem 1.5rem 12rem 1.5rem;
            .cards{
                grid-template-columns: repeat(1, 1fr);
                gap: 1rem;
                .benefit{
                    .icon{
                        width: 2.5rem;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 560px){
        #benefits{
            padding-top: 20rem;
            .cards{
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;
                .benefit{
                    padding: 1rem;
                    .icon{
                        width: 3rem;
                    }
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-image: radial-gradient(
                            45vw circle at var(--mouse-x) var(--mouse-y), 
                            hsla(172, 100%, 70%, 0.2),
                            transparent 40%
                        );
                        // z-index: 1;
                        transition: opacity var(--transition-speed-slow) ease;
                        opacity: 0;
                        border-radius: inherit;
                    }

                    &:hover{
                        .icon{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1300px) {
        #benefits{
            padding-top: 35rem;
            .cards{
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
                .benefit{
                    .icon{
                        width: 3rem;
                    }
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-image: radial-gradient(
                            30vw circle at var(--mouse-x) var(--mouse-y), 
                            hsla(172, 100%, 70%, 0.2),
                            transparent 40%
                        );
                        z-index: 2;
                        transition: opacity var(--transition-speed-slow) ease;
                        opacity: 0;
                        border-radius: inherit;
                    }
                }
            }
        }
    }

    // Footer styles
    footer{
        background-color: var(--bg-color-darker-blue);
        // min-height: 300px;

        .footer-section{
            display: grid;
            justify-items: center;
            gap: 1rem;
            .footer-button{
                padding: 0.5rem;
                width: 10rem;
            }
        }
    }

    @media screen and (max-width: 760px){
        
    }
    @media screen and (min-width: 760px){
        
    }
    @media screen and (min-width: 1300px){
        
    }
    // Separator svg styles
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);

        svg{
            position: relative;
            display: block;
            height: 150px;
            width: calc(100% + 1.3px);
        }

        &-intro .shape-fill,
        &-code .shape-fill,
        &-security .shape-fill{
            fill: var(--f-color-light);
        }
        &-design .shape-fill,
        &-accessibility .shape-fill{
            fill: var(--bg-color-dark-blue);
        }

    }
    .opaque-wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg{
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 200px;
        }
        .shape-fill{
            fill: var(--f-color-light);
        }
    }
    .curve {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        .shape-fill {
            fill: #111D46;
        }
    }
    
    

    @media (max-width: 760px) {
        .wave, .opaque-wave{
            svg{
                width: calc(110% + 1.3px);
                height: 100px;
            }
        }
        .curve{
            svg{
                height: 70px;
            }
        }
    }
    @media screen and (min-width: 1300px){
        .wave, .opaque-wave{
            svg{
                width: calc(100% + 1.3px);
                height: 225px;
            }
        }
        .curve{
            svg{
                height: 130px;
            }
        }
    }
    
    @at-root .link{
        text-decoration: none;
        font-family: var(--f-family-josefin);
        font-size: var(--f-size-paragraph);
        transition: all var(--transition-speed-fast) ease-in-out;
        white-space: nowrap;
        width: max-content;
        
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            position: absolute;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform var(--transition-speed-slow) ease-in-out;
            z-index: 1;
        }
        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    @at-root .light-bg-link{
        &:hover{
            color: var(--f-color-dark);
        }
        &::before{
            background-color: var(--f-color-dark);
        }
    }
    @at-root .dark-bg-link{
        &:hover{
            color: var(--f-color-light);
        }
        svg{
            stroke: var(--f-color-light);
        }
        &::before{
            background-color: var(--f-color-light);
        }
    }

    .section-image{
        border-radius: 1rem;
    }
    .content-section{
        position: relative;
    }
    @media screen and (max-width: 760px){
        .intro{
            height: calc(100vh + 100px);
            padding-bottom: 100px;
        }
        .content-section{
            padding: 6rem 1rem 12rem 1rem;
        }
        .section-image{
            width: 90%;
            justify-self: center;
        }
    }
    @media screen and (min-width: 760px){
        
        .intro{
            height: calc(100vh + 150px);
            padding-bottom: 150px;
        }
        .content-section{
            padding: 8rem 2rem 18rem 2rem;
        }
        .section-image{
            width: clamp(30vw, 90%, 45vw);
            max-width: 500px;
            justify-self: center;
        }
    }
    @media screen and (min-width: 1300px) {
        .intro{
            height: calc(100vh + 200px);
            padding-bottom: 200px;
        }
        .content-section{
            padding: 10rem 4rem 22rem 4rem;
        }
    }
}



// .button{
    //     color: var(--f-color-light);
    //     background-image: var(--f-color-gradient-violet);
    //     background-size: 200%;
    //     animation: text-gradient 3s infinite linear;
    //     width: 80%;
    //     aspect-ratio: 7/1;
    // }


// Arrow svg animation styles
.arrow{
    transform: translateX(-10px);
    transition: all var(--transition-speed-fast) ease-in-out;
}
.stroke{
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
}
.link {
    > svg{
        position: absolute;
        height: 125%;
        /* transform: translateY(-5px); */
        bottom: -3px;
        left: 98%;
    }
    &:hover > svg > .stroke{
        animation: svg-animate 1s ease forwards;
    }
    &:hover > svg > .arrow{
        transform: translateX(0);
    }
    @keyframes svg-animate{
        to{stroke-dashoffset: 0;}
    }
}

// On-scroll animations styles
@media screen and (max-width: 760px){
    .faded-in-left,
    .faded-in-right{
        transform: translateY(2rem);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-out{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@media screen and (min-width: 760px){
    .faded-in-left{
        transform: translateX(-2rem);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-in-right{
        transform: translateX(2rem);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-out{
        opacity: 1;
        transform: translateX(0rem);
    }
}


/* Utility classes */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a, p{
    font-family: var(--f-family-josefin);
}
h1, h2, h3, h4, h5, h6, button{
    font-family: var(--f-family-ubuntu);
}

.xxl{
    font-size: var(--f-size-xxl);
}
.header{
    font-size: var(--f-size-header);
}
.small-header{
    font-size: var(--f-size-small-header);
}
.title{
    font-size: var(--f-size-title);
}
.paragraph{
    font-size: var(--f-size-paragraph);
}
.small-text{
    font-size: var(--f-size-small);
}

.dark{
    color: var(--f-color-dark);
}
.gray{
    color: var(--f-color-gray);
}
.light{
    color: var(--f-color-light);
}
.less-light{
    color: var(--f-color-less-light);
}

.grid{
    display: grid;
}
.half-section{
    display: grid;
    gap: 0.5rem;
}
@media screen and (max-width: 760px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        .image-section{
            grid-row: 2/3;
        }
    }
}
@media screen and (min-width: 760px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }
    
}

.blue-gradient-text{
    background: var(--f-color-gradient-blue);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-gradient 3s infinite linear;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
}
.violet-gradient-text{ 
    background: var(--f-color-gradient-violet);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
    animation: text-gradient 3s infinite linear;
}
.gray-gradient-text{ 
    background: var(--f-color-gradient-gray);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
    // animation: text-gradient 3s infinite linear;
}
@keyframes text-gradient{
    0%{background-position: 0% center;}
    100%{background-position: -200% center;}
}

.button{
    border-radius: 0.5rem;
    background-image: var(--bg-gradient-button);
    background-size: 250%;
    background-position: 100% 100%;
    border: none;
    cursor: pointer;
    // text-transform: uppercase;
    transition: background-position var(--transition-speed-slow)  cubic-bezier(.77,0,.18,1);
    &:hover{
        background-position: 0% 0%;
    }
}