
body{
    background-color: var(--background-body);
    transition: background-color var(--transition-speed-slow) ease;
}
.paragraph{
    line-height: var(--f-size-title);
}
// *{
//     outline: red 3px solid;
// }

// Nav styles
.navbar{
    animation-delay: 2.4s;
    --background: hsla(226, 61%, 17%, 0.2);
    box-shadow: 5px 0 15px 2px transparent;
}
.nav-scrolled{
    --background: hsla(226, 61%, 14%, 0.85);
    box-shadow: 5px 0 15px 2px var(--bg-color-blue-900);
}


/* Intro Page Styles */
.intro{
    overflow: hidden;
    background: radial-gradient(
        circle at 10% -5%, 
        var(--bg-color-blue-700) 5%,
        var(--bg-color-blue-600) 30%,
        var(--bg-color-blue-500) 50%,
        var(--bg-color-blue-300) 100%
    );
    display: grid;
    place-items: center;
    .intro-img{
        position: absolute;
        // height: 250px;
        right: 0;
        top: 200px;
        z-index: 2;
    }
    .language-selector{
        transform: translateX(60px);
        animation-name: fade;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 2.4s;
        opacity: 0;
    }

    .container{
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        z-index: 1;

        .intro-header{
            font-family: var(--f-family-ubuntu);
            color: var(--f-color-light);
            font-size: var(--f-size-header);
            text-align: center;
            line-height: 3rem;
            width: 100%;
    
            @at-root .animated-element{
                display: inline-block;
                position: relative;
                transform: rotateX(-90deg) translateY(60px);
                animation-name: text-rotate;
                animation-duration: 0.5s;
                // animation-iteration-count: initial;
                animation-fill-mode: forwards;
    
                &[data-index="1"]{
                    animation-delay: 0s;
                    animation-iteration-count: initial;
                }
                &[data-index="2"]{
                    animation-delay: 0.2s;
                    animation-iteration-count: initial;
                }
                &[data-index="3"]{
                    animation-delay: 0.4s;
                    animation-iteration-count: initial;
                }
                &[data-index="4"]{
                    animation-delay: 0.6s;
                    animation-iteration-count: initial;
                }
                &[data-index="5"]{
                    animation-delay: 0.8s;
                    animation-iteration-count: initial;
                }
                &[data-index="6"]{
                    animation-delay: 1.4s;
                    animation-name: text-rotate, text-gradient;
                    animation-duration: 0.5s, 3s;
                    animation-iteration-count: initial, infinite;
                    animation-timing-function: linear;
                    background: var(--f-color-gradient-blue);
                    text-shadow: none;
                    background-clip: text;
                    background-size: 200%;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    // animation: text-gradient 3s infinite linear;
                }
                &[data-index="7"]{
                    animation-delay: 2s;
                    animation-iteration-count: initial;
                }
            }
             
        } 

        .intro-button{
            // width: 70%;
            width: 100%;
            height: 3.5rem;
            padding: 0.5rem;
        }
    }
    .star-start{
        position: absolute;
        bottom: 0;
    }
    // .blob{
    //     position: absolute;
    //     width: 500px;
    //     height: 500px;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    //     border-radius: 50%;
    //     background: linear-gradient(
    //         90deg,
    //         aquamarine,
    //         mediumpurple
    //     );
    //     filter: blur(200px);
    //     opacity: 0;
    //     transition: opacity var(--transition-speed-slow) ease;
    //     // animation-name: blob-spin;
    //     // animation-duration: 20s;
    //     // animation-timing-function: linear;
    //     // animation-iteration-count: infinite;
    //     // animation-fill-mode: forwards;
    // }
}
@keyframes text-rotate {
    from{transform: rotateX(-90deg) translateY(60px);}
    to{transform: rotateX(0deg) translateY(0px);}
}
@keyframes fade{
    from{transform: translateX(100px); opacity:0;}
    to{transform: translateX(0px); opacity: 1;}
}
// @keyframes blob-spin {
//     from{transform: rotateZ(0deg);}
//     to{transform: rotateZ(360deg);}
// }

/* Content styles */
#content{
    #what{
        display: grid;
        justify-items: center;
        gap: 0.5rem;
        p{
            text-align: center;
        }
    }
    #advantages{
        display: grid;
        justify-content: center;
        overflow-x: hidden;
        position: relative;
        max-width: 100%;
        @at-root .blob{
            position: absolute;
            opacity: 0.15;
        }
        .advantage{
            width: 30vw;
            display: grid;
            justify-items: center;
            .image-container{
                background-color: var(--bg-color-blue-200);
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                display: grid;
                place-content: center;
                .advantage-img{
                    width: 6.5rem;
                }
            }
            h3, p{
                text-align: center;
            }
        }
    }
    
    #why{
        display: grid;
        justify-items: center;
        gap: 2rem;
        overflow-x: hidden;
        .image-container{
            position: relative;
            place-items: center;
            .image-blob{
                position: absolute;
                opacity: 0.5;
                // top: -35%;
                // left: 0;
            }
        }
        > div{
            display: grid;
            justify-items: center;
            > p{
                text-align: center;
            }
        }
        .why-list{
            display: grid;
            li{
                position: relative;
                display: grid;
                gap: 0.5rem;
                &::before{
                    position: absolute;
                    left: -3rem;
                    content: url(https://res.cloudinary.com/dvrziwgxp/image/upload/v1678729843/tick2_orpv8v.svg);
                }
            }
        }
    }

    #portofolio{
        display: grid;
        > div{
            display: grid;
            justify-items: center;
        }

        .work{
            background-color: var(--bg-color-white);
            border-radius: 0.75rem;
            padding: 1rem;
            display: grid;
            justify-items: center;
            gap: 0.5rem;
            transition: background-color var(--transition-speed-slow) ease;
            position: relative;
            filter: drop-shadow(0 0 10px hsla(155, 85%, 63%, 0.25));
            .work-img{
                width: 100%;
            }
            border-top: var(--bg-color-blue-200) 12px solid;
            h3, p{
                text-align: center;
            }
            .button{
                padding: 0.75rem 3rem;
            }
        }
    }

    #process{
        display: grid;
        background: url(https://res.cloudinary.com/dvrziwgxp/image/upload/v1675796915/low-poly-grid-haikei_2_qxs341.svg), hsla(0, 0%, 0%, 0.35);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        
        place-content: center;
        place-items: center;
        .container{
            display: grid;
            justify-items: center;
        }
        .process-step{
            display: grid;
            gap: 2rem;
            align-items: center;
            .card{
                background-color: hsla(226, 61%, 25%, 0.8);
                border-radius: 0.5rem;
                display: grid;
                place-content: center;
                place-items: center;
                border: 2px hsla(0, 0%, 50%, 0.5) solid;
                &:hover::before{
                    opacity: 1;
                }
            }
            .text-container{
                display: grid;
                gap: 0.75rem;
            }
        }
    }
    .section-image{
        border-radius: 1rem;
    }
    .content-section{
        position: relative;
        overflow-x: hidden;
    }
    @media screen and (max-width: 560px){
        .intro{
            height: calc(100vh + 100px);
            // padding-bottom: 100px;
        }
        #what{
            padding: 4rem 1rem 0rem 1rem;
        }
        #advantages{
            gap: 2rem;
            .blob{
                right: -100%; 
            }
            .advantage{
                width: 80vw;
                gap: 0.5rem;
            }
        }
        #why{
            padding: 8rem 1.5rem 12rem 1.5rem;
            .image-container{
                .why-image{
                    width: 80%;
                }
                .image-blob{
                    width: 130%;
                }
            }
            .blob{
                left: -80%;
                top: 25%;
            }
            .why-list{
                gap: 2rem;
                margin-top: 3rem;
                padding-left: 2.5rem;
            }
        }
        #portofolio{
            padding: 8rem 1rem 13rem 1rem;
            gap: 1rem;
            .work{
                padding: 1rem;
                .work-img{
                    width: 100%;
                }
            }
        }
        #process{
            padding: 10rem 1.5rem 5rem 1.5rem;
            gap: 3rem;
            .process-step{
                .card{
                    width: 100%;
                    height: 75px;
                    svg{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                .text-container{
                    text-align: center;
                }
                .process-line{
                    display: none;
                }
            }
        }
        .content-section{
            padding: 8rem 1rem 13rem 1rem;
        }
        .section-image{
            width: 90%;
            justify-self: center;
        }
    }
    @media screen and (min-width: 561px){
        .intro{
            height: calc(100vh + 150px);
            .intro-header{
                width: 80%;
            }
        }
        #what{
            padding: 0rem 8rem 0rem 8rem;
        }
        #advantages{
            gap: 2rem;
            .blob{
                right: -50%;
                top: 10%;
            } 
            .advantage{
                width: 60vw;
                gap: 0.5rem;
            }
        }
        #why{
            padding: 8rem 3rem 16rem 3rem;
            gap: 5rem;
            .image-container{
                .why-image{
                    width: 50%;
                }
                .image-blob{
                    width: 80%;
                }
            }
            .blob{
                left: -40%;
                top: 15%;
            }
            > p{
                margin-inline: 3rem;
            }
            .why-list{
                gap: 3rem;
                grid-template-columns: 1fr 1fr;
                margin-top: 3rem;
                padding-left: 2.5rem;
            }
        }
        #portofolio{
            padding: 8rem 7rem 16rem 7rem;
            gap: 2rem;
            
            .work{
                padding: 1rem;
                gap: 1.5rem;
                .work-img{
                    width: 80%;
                }
            }
        }

        #process{
            padding-top: 20rem;
            padding-bottom: 7rem;
            gap: 2rem;
            .process-step{
                grid-template-columns: 1fr 3fr;
                transition: all var(--transition-speed-fast) ease;
                &:nth-child(2n){
                    grid-template-columns: 3fr 1fr;
                    .text-container{
                        grid-row: 1 / 2;
                        text-align: right;
                    }
                }
                .card{
                    width: 200px;
                    height: 200px;
                    // &:hover{
                    //     transform: scale(1.05);
                    // }
                    svg{
                        width: 4rem;
                        height: 4rem;
                    }
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-image: radial-gradient(
                            50vw circle at var(--mouse-x) var(--mouse-y), 
                            hsla(172, 100%, 70%, 0.2),
                            transparent 40%
                        );
                        // z-index: 1;
                        transition: opacity var(--transition-speed-slow) ease;
                        opacity: 0;
                        border-radius: inherit;
                    }
                }
                .text-container{
                    justify-self: left;
                }
                .process-line{
                    width: 70vw;
                    grid-column: span 2;
                    justify-self: center;
                    &.flip{
                        transform: rotateY(180deg);
                    }
                    .process-stroke{
                        stroke-dasharray: 1100;
                        stroke-dashoffset: 1100;
                        transition: stroke-dashoffset 1s ease-in-out;
                        // animation-name: stroke;
                        // animation-duration: 2s;
                        // animation-timing-function: ease-in-out;
                        // animation-fill-mode: forwards;
                        // animation-iteration-count: initial;
                    }
                    &.extended{
                        .process-stroke{
                            stroke-dashoffset: 0;
                        }
                    }
                    // @keyframes stroke {
                    //     from{
                    //         stroke-dashoffset: 1100;
                    //     }
                    //     to{
                    //         stroke-dashoffset: 0;
                    //     }
                    // }
                }
            }
        }
        .content-section{
            padding: 8rem 2rem 16rem 2rem;
        }
        .section-image{
            width: clamp(30vw, 90%, 40vw);
            max-width: 500px;
            justify-self: center;
        }
    }


    @media screen and (min-width: 1300px) {
        #what{
            padding: 0rem 24rem 0rem 24rem;
            p{
                line-height: var(--f-size-title);
            }
        }
        #advantages{
            row-gap: 5rem;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            .blob{
                right: -20%;
                top: -11%;
            }
            .advantage{
                width: 25vw;
                gap: 0.5rem;
                .link{
                    margin-top: auto;
                }
            }
        }
        #why{
            padding: 16rem 6rem 22rem 6rem;
            gap: 2rem;
            justify-items: center;
            grid-template-columns: 1fr 2fr;
            .image-container{
                .why-image{
                    width: 80%;
                }
                .image-blob{
                    width: 130%;
                }
            }
            .blob{
                left: 20%;
                top: -5%;
                height: 1400px;
            }
            .why-list{
                gap: 4rem;
                grid-template-columns: 1fr 1fr;
                margin-top: 3rem;
                padding-left: 2.5rem;
            }
        }
        #portofolio{
            grid-template-columns: repeat(3, 1fr);
            #container{
                grid-column: span 3;
            }
        }
        .content-section{
            padding: 10rem 8rem 22rem 8rem;
        }
        .section-image{
            max-width: 350px;
        }
        .intro{
            height: calc(100vh + 400px);
            padding-top: 0;
            padding-right: 20rem;
        }

        #process{
            padding-top: 25rem;
            padding-bottom: 15rem;
            gap: 7rem;
            .process-step{
                grid-template-columns: 1fr 4fr;

                .card{
                    width: 250px;
                    height: 250px;
                }
                .process-line{
                    width: 65vw;
                }
            }
        }
    }
    
    @at-root .graphics{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .dash{
            height: 3px;
            width: 5rem;
            border-radius: 10px;
            background: linear-gradient(
                90deg,
                transparent,
                var(--bg-color-green)
            );
        }
        .what-icon{
            stroke: var(--bg-color-green);
            position: relative;
        }
    }
    
    #why,
    #security{
        background-color: var(--bg-color-blue-700);
    }
    

    // Separator svg styles
    .wave-intro{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        .shape-fill{
            fill: var(--background-body);
            transition: fill var(--transition-speed-slow) ease;
        }
        svg{
            position: relative;
            display: block;
            width: calc(230% + 1.3px);
            height: 500px;
        }
    }
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        
        svg{
            position: relative;
            display: block;
            height: 150px;
            width: calc(100% + 1.3px);
        }
        
        &-why .shape-fill,
        &-security .shape-fill{
            fill: var(--background-body);
            transition: fill var(--transition-speed-slow) ease;
        }
        &-design .shape-fill,
        &-portofolio .shape-fill{
            fill: var(--bg-color-blue-700);
            transition: fill var(--transition-speed-slow) ease;
        }

    }
    .opaque-wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg{
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 200px;
        }
        .shape-fill{
            fill: var(--bg-color-blue-700);
            // fill: var(--background-body);
            transition: fill var(--transition-speed-slow) ease;
        }
    }
    .curve {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        .shape-fill {
            fill: var(--bg-color-blue-900);
            // fill: transparent;
        }
    }
    
    
    
    @media (max-width: 560px) {
        .wave-intro{
            svg{
                height: 300px;
            }
        }
        .wave, .opaque-wave{
            svg{
                width: calc(110% + 1.3px);
                height: 100px;
            }
        }
        .curve{
            svg{
                height: 70px;
            }
        }
    }
    @media screen and (min-width: 1300px){
        .wave, .opaque-wave{
            svg{
                width: calc(100% + 1.3px);
                height: 225px;
            }
        }
        .wave-intro{
            svg{
                height: 900px;
            }
        }
        .curve{
            svg{
                height: 130px;
            }
        }
    }
    
    @at-root .link{
        text-decoration: none;
        font-family: var(--f-family-josefin);
        transition: all var(--transition-speed-fast) ease-in-out;
        white-space: nowrap;
        width: max-content;
        
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            position: absolute;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform var(--transition-speed-slow) ease-in-out;
            z-index: 1;
        }
        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    @at-root .light-bg-link{
        &:hover{
            color: var(--f-color-dark);
        }
        &::before{
            background-color: var(--f-color-dark);
        }
        svg{
            stroke: var(--f-color-dark);
        }
    }
    @at-root .dark-bg-link{
        &:hover{
            color: var(--f-color-light);
        }
        svg{
            stroke: var(--f-color-light);
        }
        &::before{
            background-color: var(--f-color-light);
        }
    }
}



// .button{
    //     color: var(--f-color-light);
    //     background-image: var(--f-color-gradient-violet);
    //     background-size: 200%;
    //     animation: text-gradient 3s infinite linear;
    //     width: 80%;
    //     aspect-ratio: 7/1;
    // }
    
    

// Arrow svg animation styles
.arrow{
    transform: translateX(-10px);
    transition: all var(--transition-speed-fast) ease-in-out;
}
.stroke{
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
}
.link {
    position: relative;
    svg{
        position: absolute;
        height: 125%;
        /* transform: translateY(-5px); */
        bottom: 0px;
        left: 98%;
    }
    &:hover > svg > .stroke{
        animation: svg-animate 1s ease forwards;
    }
    &:hover > svg > .arrow{
        transform: translateX(0);
    }
    @keyframes svg-animate{
        to{stroke-dashoffset: 0;}
    }
}

// On-scroll animations styles
@media screen and (max-width: 560px){
    .faded-in-left,
    .faded-in-right{
        transform: translateY(2rem) scale(0.9);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-in-down{
        transform: translateY(2rem) scale(0.9);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-out{
        opacity: 1;
        transform: translate(0rem) scale(1);
    }
}
@media screen and (min-width: 561px){
    .faded-in-left{
        transform: translateX(-2rem) scale(0.9);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-in-right{
        transform: translateX(2rem) scale(0.9);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-in-down{
        transform: translateY(2rem) scale(0.9);
        opacity: 0;
        transition: all var(--transition-speed-slow);
    }
    .faded-out{
        opacity: 1;
        transform: translate(0rem) scale(1);
    }
    .faded-inwards{
        filter: blur(3px);
        transform: scale(0.85);
    }
}
@media screen and (min-width: 1300px){
    .faded-in-down{
        &.second{
            transition-delay: 200ms;
        }
        &.third{
            transition-delay: 400ms;
        }
    }
}


//Utility classes

.grid{
    display: grid;
}
.half-section{
    display: grid;
    gap: 0.5rem;
}
@media screen and (max-width: 560px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        .image-section{
            grid-row: 2/3;
            display: none;
        }
    }
}
@media screen and (min-width: 561px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }   
}

.blue-gradient-text{
    background: var(--f-color-gradient-blue);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-gradient 3s infinite linear;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
}
.violet-gradient-text{ 
    background: var(--f-color-gradient-violet);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
    animation: text-gradient 3s infinite linear;
}
.gray-gradient-text{ 
    background: var(--f-color-gradient-gray);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
    // animation: text-gradient 3s infinite linear;
}
@keyframes text-gradient{
    0%{background-position: 0% center;}
    100%{background-position: -200% center;}
}
.button{
    border-radius: 0.5rem;
    background-image: var(--bg-gradient-button);
    background-size: 250%;
    background-position: 100% 100%;
    border: none;
    cursor: pointer;
    // text-transform: uppercase;
    transition: all var(--transition-speed-slow)  cubic-bezier(.77,0,.18,1);
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.5);
    &:hover{
        background-position: 0% 0%;
        transform: translateY(-3px);
    }
}
