//Content styles
body{
    background-color: var(--background-body);
    transition: background-color var(--transition-speed-slow) ease;
}

#content{
    .content-section{
        position: relative;
    }
    @media screen and (max-width: 560px){
        .content-section{
            padding: 8rem 1rem 4rem 1rem;
        }
        .section-image{
            width: 90%;
            justify-self: center;
        }
    }
    @media screen and (min-width: 561px){
        .content-section{
            padding: 8rem 3rem 4rem 3rem;
        }
        .section-image{
            width: clamp(30vw, 90%, 45vw);
            max-width: 500px;
            justify-self: center;
        }
    }
    @media screen and (min-width: 1300px) {
        .content-section{
            padding: 10rem 12rem 6rem 12rem;
        }
    }


    #description{
        min-height: 100vh;
        // display: grid;
        // flex-direction: column;
        // place-content: center;
        .description-header{
            text-align: left;
            margin-bottom: 1rem;
        }
    }

    #subscription-plans{
        display: grid;
        .plans-header{
            text-align: center;
            margin-bottom: 2rem;
        }
        .plan{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            position: relative;
            border-radius: 1rem;
            background-color: var(--background-body);
            transition: background-color var(--transition-speed-slow) ease;
            .plan-title{
                text-align: center;
            }
            .plan-price{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .plan-description{
                text-align: center;
                display: flex;
                align-items: center;
            }
            .plan-benefit-list{
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-items: center;
                li{
                    text-align: center;
                    &.enabled-benefit::before{
                        content: '\2714';
                        margin-right: 0.25rem;
                        color: green;
                    }
                    &.disabled-benefit::before{
                        content: '\2716';
                        margin-right: 0.25rem;
                        color: red;
                    }
                    &:not(:last-child){
                        border-bottom: 2px solid var(--f-color-dark);
                        padding-block: 0.5rem;
                    }
                    &:last-child{
                        padding-top: 0.5rem;
                    }
                }
            }

            .plan-button{
                height: 3rem;
                margin-top: auto;
            }

            &.essential{
                &::before{
                    background-color: var(--bg-color-blue-200);
                }
            }
            &.value{
                &::before{
                    background-image: linear-gradient(
                    90deg, 
                    var(--bg-color-green),
                    var(--bg-color-pine-green), 
                    var(--bg-color-blue-200),
                    var(--bg-color-pine-green),
                    var(--bg-color-green));
                    background-size: 200%;
                    animation-name: border-gradient;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
            &.premium{
                &::before{
                    background-color: var(--bg-color-blue-200);
                    // background-image: linear-gradient(
                    // 90deg, 
                    // #b78628,
                    // #c69320, 
                    // #dba514,
                    // #eeb609,
                    // #fcc201,
                    // #eeb609,
                    // #dba514,
                    // #c69320,
                    // #b78628,);
                    // background-size: 200%;
                    // animation-name: border-gradient;
                    // animation-duration: 5s;
                    // animation-timing-function: linear;
                    // animation-iteration-count: infinite;
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                border-radius: 1rem;
                top: -7.5px;
                left: -7.5px;
                z-index: -1;
            }
            @keyframes border-gradient{
                0%{background-position: 0% center;}
                100%{background-position: -200% center;}
            }
        }
    }

    #add-ons{
        display: grid;
        .add-ons-header{
            text-align: center;
            margin-bottom: 2rem;
        }
        .add-on{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            position: relative;
            border-radius: 1rem;
            background-color: var(--background-body);
            .add-on-title{
                text-align: center;
            }
            .add-on-price{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .add-on-description{
                text-align: center;
                display: flex;
                align-items: center;
            }
            .add-on-button{
                height: 3rem;
                width: 75%;
                margin-top: auto;
                margin-inline: auto;
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                border-radius: 1rem;
                top: -7.5px;
                left: -7.5px;
                z-index: -1;
                background-color: var(--bg-color-blue-200);
            }
        }
    }

    @media screen and (max-width: 760px) {
        #subscription-plans{
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            .plan-description{
                height: 75px;
            }
        }
        #add-ons{
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
    }

    @media screen and (min-width: 761px) {
        #subscription-plans{
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            .plans-header{
                grid-column: span 3;
            }
            .plan-description{
                height: 150px;
            }

        }
        #add-ons{
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            .add-ons-header{
                grid-column: span 2;
            }
        }
    }
    
    @media screen and (min-width: 1300px) {
        #subscription-plans{
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
        #add-ons{
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
    @at-root .link{
        text-decoration: none;
        font-family: var(--f-family-josefin);
        font-size: var(--f-size-paragraph);
        transition: all var(--transition-speed-fast) ease-in-out;
        white-space: nowrap;
        width: max-content;
        
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            position: absolute;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform var(--transition-speed-slow) ease-in-out;
            z-index: 1;
        }
        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    @at-root .light-bg-link{
        &:hover{
            color: var(--f-color-dark);
        }
        &::before{
            background-color: var(--f-color-dark);
        }
    }
    @at-root .dark-bg-link{
        &:hover{
            color: var(--f-color-light);
        }
        svg{
            stroke: var(--f-color-light);
        }
        &::before{
            background-color: var(--f-color-light);
        }
    }

}


//Utility classes
.button{
    border-radius: 0.5rem;
    background-image: var(--bg-gradient-button);
    background-size: 250%;
    background-position: 100% 100%;
    border: none;
    cursor: pointer;
    // text-transform: uppercase;
    transition: all var(--transition-speed-slow)  cubic-bezier(.77,0,.18,1);
    box-shadow: 0 0 20px hsla(0, 0%, 25%, 0.5);
    &:hover{
        background-position: 0% 0%;
        scale: 0.95;
    }
}

.grid{
    display: grid;
}
.half-section{
    display: grid;
    gap: 0.5rem;
}
option{
    text-align: center;
}
@media screen and (max-width: 560px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        .image-section{
            grid-row: 2/3;
        }
    }
}
@media screen and (min-width: 561px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }   
}