*, *::before, *::after{
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    position: relative;
    padding: 0; margin: 0;
}
::selection{
    background-color: var(--bg-color-pine-green);
    color: var(--f-color-light);
}
:root{ 
    font-size: 20px;

    --f-family-josefin:'Josefin Sans', sans-serif;
    --f-family-ubuntu: 'Ubuntu', sans-serif;
    
    --bg-color-green: hsl(155, 82%, 59%);
    --bg-color-pine-green: hsl(175, 98%, 30%);
    --bg-color-darker-blue: hsl(226, 61%, 14%);
    --bg-color-dark-blue: hsl(226, 61%, 17%);
    --bg-color-less-dark-blue: hsl(226, 61%, 20%);
    --bg-color-darkish-blue: hsl(226, 61%, 25%);
    --bg-color-lighter-blue: hsl(226, 74%, 30%);
    --bg-color-light-blue: hsl(209, 56%, 50%);
    --bg-color-purple: hsl(282, 68%, 38%);
    --bg-color-violet: hsl(262, 52%, 47%);
    --bg-color-pink: hsl(340, 82%, 76%);

    --bg-gradient-button: linear-gradient(
        135deg,
        var(--bg-color-violet), 
        var(--bg-color-purple), 
        var(--bg-color-pink),
        var(--bg-color-green), 
        var(--bg-color-light-blue),
        var(--bg-color-lighter-blue)
    );
    
    --f-color-light: hsl(0, 0%, 95%);
    --f-color-less-light: hsl(0, 0%, 75%);
    --f-color-dark: hsl(0, 0%, 20%);
    --f-color-gray: hsl(246, 9%, 54%);
    --f-color-gradient-blue: linear-gradient(
        90deg, 
        var(--bg-color-green), 
        var(--bg-color-light-blue), 
        var(--bg-color-green));
    --f-color-gradient-violet: linear-gradient(
        90deg, 
        var(--bg-color-purple), 
        var(--bg-color-violet), 
        var(--bg-color-pink), 
        var(--bg-color-purple));

    --f-color-gradient-gray: linear-gradient(
        var(--f-color-less-light),
        var(--f-color-gray));


    --f-size-xxl: calc(2rem + 1.5vw);
    --f-size-header: calc(1.75rem + 1vw);
    --f-size-small-header: calc(1.25rem + 1vw);
    --f-size-title: calc(1rem + 0.5vw);
    --f-size-paragraph: calc(0.75rem + 0.5vw);
    --f-size-small: calc(0.6rem + 0.5vw);

    --transition-speed-fast: 250ms;
    --transition-speed-slow: 500ms;
    --transition-speed-slowest: 750ms;

    --phone-break-point: 560px;
    --computer-break-point: 1300px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: var(--f-color-light);
}


//Navbar styling
.navbar{
    --background: hsla(226, 61%, 17%, 0.85);

    
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1;
    width: 100vw;
    background-color: var(--background);
    transition: background-color var(--transition-speed-slow);
    
    animation-name: navbar-pop;
    animation-duration: var(--transition-speed-slow);
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    transform: translateY(-5rem);
    
    .navbar-logo{
        margin-left: 0.5rem;
    } 
    .navbar-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 1rem;
        // width: 60%;
        .navbar-list-item{
            height: 1rem;
            
            .navbar-link{
                // color: var(--f-color-light);
                text-decoration: none;
                font-family: var(--f-family-josefin);
                font-size: var(--f-size-paragraph);

                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    bottom: -2px;
                    left: 0;
                    position: absolute;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform var(--transition-speed-fast) ease-in-out;
                }
                &:hover::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
    .nav-button{
        // justify-self: end;
        width: 3rem;
        aspect-ratio: 1/1;
        &#menu-button{
            &[aria-expanded="true"]{
                .line1{
                    translate: 0px 4.5px;
                    rotate: 45deg;
                }
                .line2{
                    translate: -20px;
                    opacity: 0;
                }
                .line3{
                    translate: 0px -4px;
                    rotate: -45deg;
                }
            }
        }
        .nav-icon{
            width: 2rem;
            aspect-ratio: 1/1;
            stroke: var(--f-color-light);
            line{
                transition: var(--transition-speed-slow);
                transform-origin: center;
            }
        }
    }

    .cart{
        position: absolute;
        margin: 0.5rem;
        background-color: hsla(246, 9%, 85%, 0.85);
        border-radius: 1rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-items: center;
        
        .cart-item{
            width: 100%;
            display: grid;
            background-color: var(--f-color-light);
            padding: 0.75rem;
            margin: 0.5rem 0;
            border-radius: 1rem;
            box-shadow: 0 0 10px var(--f-color-gray);
            .cart-plan-input,
            .cart-quantity-input{
                text-align: center;
                border-radius: 0.5rem;
                border: 2px solid var(--bg-color-lighter-blue);
                transition: all var(--transition-speed-fast) ease-in-out;

                &:hover{
                    border: 2px solid var(--bg-color-pine-green);
                    outline: none;
                }

            }

            .cart-remove-button{
                border-radius: 0.5rem;
                background-color: red;
                display: grid;
                place-content: center;
                transition: all var(--transition-speed-fast) ease-in-out;
                &:hover{
                    transform: translateY(-2px);
                }
            }
        }
    }
    
    .cart-hidden{
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opacity var(--transition-speed-fast) ease-in-out,
            max-height var(--transition-speed-slow) ease-in-out, 
            visibility var(--transition-speed-slow),
            transform var(--transition-speed-slow),
            box-shadow var(--transition-speed-slow);
        box-shadow: 0 0 0 100vmax hsla(0, 0%, 20%, 0);
    }
    .cart-visible{
        opacity: 1;
        transition: opacity var(--transition-speed-slow) ease-in-out,
            max-height var(--transition-speed-slow) ease-in-out,
            transform var(--transition-speed-slow),
            box-shadow var(--transition-speed-slow);
            transform: translateX(0);
        box-shadow: 0 0 0 100vmax hsla(0, 0%, 20%, 0.25);
        // box-shadow: 0 0 0px 100px hsla(172, 100%, 70%, 0.2);
    }
}

// .nav-scrolled{
//     --background: hsla(226, 61%, 17%, 0.85);
// }
@media screen and (max-width: 760px){
    .navbar{
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;
        height: fit-content;
        .navbar-list{
            flex-direction: column;
            width: 100%;
            grid-column: span 3;
            height: fit-content;
            // transition: max-height var(--transition-speed-slow) ease-in-out;
            .navbar-list-item{
                margin: 0.5rem 1rem 1.5rem 1.5rem;
            }
        }
        .nav-hidden{
            max-height: 0rem;
            opacity: 0;
            visibility: hidden;
            transition: opacity var(--transition-speed-fast) ease-in-out,
            max-height var(--transition-speed-slow) ease-in-out, visibility var(--transition-speed-slow);
        }
        .nav-visible{
            max-height: 320px;
            opacity: 1;
            transition: opacity var(--transition-speed-slow) ease-in-out var(--transition-speed-fast),
            max-height var(--transition-speed-slow) ease-in-out;
            // box-shadow: 0 0 0px 100px hsla(172, 100%, 70%, 0.2);
        }
        .navbar-logo{
            height: 2.5rem;
            margin: 0.75rem 0 0.75rem 0.5rem;
            justify-self: start;
        }
        .nav-button{
            #cart-button{
                grid-column: 2/3;
                grid-row: 1/2;
                margin-right: 0.5rem;
            }
            #menu-button{
                grid-column: 3/4;
            }
        }
        
        .cart{
            top: 4rem;  
            width: 95%;
            justify-self: center;
            padding: 0.5rem;
            .cart-item{
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;
                align-items: center;
                justify-items: left;
                .cart-plan-input{
                    grid-column: span 2;
                    width: 100%;
                    height: 2rem;
                }
                .cart-quantity-input{
                    width: 4.5rem;
                    aspect-ratio: 7/3;
                }
                // .cart-plan-title,
                // .cart-plan-price{
                //     margin
                // }
                .cart-remove-button{
                    width: 4.5rem;
                    aspect-ratio: 7/3;
                }
            }
        }
    }
}
@media screen and (min-width: 761px){
    .navbar{
        display: flex;
        height: 5rem;
        .navbar-list{
            width: 60%;
        }
        .navbar-logo{
            width: 8rem;
            transform: translateY(4px);
        }
        #menu-button{
            display: none;
        }
        #cart-button{
            margin-right: 1rem;
            order: 3;
            margin-left: auto;
        }
        .cart{
            top: 5rem; 
            right: 0; 
            width: 75%;
            padding: 1rem;
            .cart-item{
                grid-template-columns: 3fr 2fr 2fr 2fr;
                align-items: center;
                .cart-plan-input{
                    height: 2rem;
                    grid-column: span 2;
                    width: 70%;
                }
                .cart-quantity-input,
                .cart-remove-button{
                    width: 4.5rem;
                    aspect-ratio: 7/3;
                }
            }
        }
    }
}
@media screen and (min-width: 1300px){
    .navbar{
        .cart{
            top: 5rem; 
            right: 0; 
            width: 50%;
            padding: 1rem;
        }
    }
}
@keyframes navbar-pop {
    from{transform: translateY(-5rem);}
    to{transform: translateY(0);}
}


//Content styles

#content{
    .content-section{
        position: relative;
    }
    @media screen and (max-width: 560px){
        .content-section{
            padding: 8rem 1rem 4rem 1rem;
        }
        .section-image{
            width: 90%;
            justify-self: center;
        }
    }
    @media screen and (min-width: 561px){
        .content-section{
            padding: 8rem 3rem 4rem 3rem;
        }
        .section-image{
            width: clamp(30vw, 90%, 45vw);
            max-width: 500px;
            justify-self: center;
        }
    }
    @media screen and (min-width: 1300px) {
        .content-section{
            padding: 10rem 12rem 6rem 12rem;
        }
    }


    #description{
        min-height: 100vh;
        // display: grid;
        // flex-direction: column;
        // place-content: center;
        .description-header{
            text-align: left;
            margin-bottom: 1rem;
        }
    }

    #subscription-plans{
        display: grid;
        .plans-header{
            text-align: center;
            margin-bottom: 2rem;
        }
        .plan{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            position: relative;
            border-radius: 1rem;
            background-color: var(--f-color-light);
            .plan-title{
                text-align: center;
            }
            .plan-price{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .plan-description{
                text-align: center;
                display: flex;
                align-items: center;
            }
            .plan-benefit-list{
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-items: center;
                li{
                    text-align: center;
                    padding-left: 0.25rem;
                    &.enabled-benefit::marker{
                        content: '\2714';
                        color: green;
                    }
                    &.disabled-benefit::marker{
                        content: '\2716';
                        color: red;
                    }
                    &:not(:last-child){
                        border-bottom: 2px solid var(--f-color-dark);
                        padding-block: 0.5rem;
                    }
                    &:last-child{
                        padding-top: 0.5rem;
                    }
                }
            }

            .plan-button{
                height: 3rem;
                margin-top: auto;
            }

            &.essential{
                &::before{
                    background-color: var(--bg-color-light-blue);
                }
            }
            &.value{
                &::before{
                    background-image: linear-gradient(
                    90deg, 
                    var(--bg-color-green),
                    var(--bg-color-pine-green), 
                    var(--bg-color-light-blue),
                    var(--bg-color-pine-green),
                    var(--bg-color-green));
                    background-size: 200%;
                    animation-name: border-gradient;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
            &.premium{
                &::before{
                    background-color: var(--bg-color-light-blue);
                }
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                border-radius: 1rem;
                top: -7.5px;
                left: -7.5px;
                z-index: -1;
            }
            @keyframes border-gradient{
                0%{background-position: 0% center;}
                100%{background-position: -200% center;}
            }
        }
    }

    #add-ons{
        display: grid;
        .add-ons-header{
            text-align: center;
            margin-bottom: 2rem;
        }
        .add-on{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem;
            position: relative;
            border-radius: 1rem;
            background-color: var(--f-color-light);
            .add-on-title{
                text-align: center;
            }
            .add-on-price{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .add-on-description{
                text-align: center;
                display: flex;
                align-items: center;
            }
            .add-on-button{
                height: 3rem;
                width: 75%;
                margin-top: auto;
                margin-inline: auto;
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                border-radius: 1rem;
                top: -7.5px;
                left: -7.5px;
                z-index: -1;
                background-color: var(--bg-color-light-blue);
            }
        }
    }

    @media screen and (max-width: 760px) {
        #subscription-plans{
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            .plan-description{
                height: 75px;
            }
        }
        #add-ons{
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
    }

    @media screen and (min-width: 761px) {
        #subscription-plans{
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            .plans-header{
                grid-column: span 3;
            }
            .plan-description{
                height: 150px;
            }

        }
        #add-ons{
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            .add-ons-header{
                grid-column: span 2;
            }
        }
    }
    
    @media screen and (min-width: 1300px) {
        #subscription-plans{
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }
        #add-ons{
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
    @at-root .link{
        text-decoration: none;
        font-family: var(--f-family-josefin);
        font-size: var(--f-size-paragraph);
        transition: all var(--transition-speed-fast) ease-in-out;
        white-space: nowrap;
        width: max-content;
        
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            position: absolute;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform var(--transition-speed-slow) ease-in-out;
            z-index: 1;
        }
        &:hover::before{
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    @at-root .light-bg-link{
        &:hover{
            color: var(--f-color-dark);
        }
        &::before{
            background-color: var(--f-color-dark);
        }
    }
    @at-root .dark-bg-link{
        &:hover{
            color: var(--f-color-light);
        }
        svg{
            stroke: var(--f-color-light);
        }
        &::before{
            background-color: var(--f-color-light);
        }
    }

    .curve {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        .shape-fill {
            fill: var(--f-color-light);
        }
    }
    
    

    @media (max-width: 560px) {
        .curve{
            svg{ 
                height: 70px;
            }
        }
    }
    @media screen and (min-width: 1300px){
        .curve{
            svg{
                height: 130px;
            }
        }
    }
}


// Footer styles
footer{
    background-color: var(--bg-color-darker-blue);
    display: grid;

    // min-height: 300px;

    .footer-section{
        display: grid;
        justify-items: center;
        // align-items: center;
        place-content: center;
        gap: 1rem;
        .footer-button{
            padding: 0.5rem;
            height: 3rem;
            width: 10rem;
            // justify-self: center;
        }
        .footer-image{
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 0 0 1rem hsla(226, 74%, 30%, 0.5),
            0 0 0 2rem hsla(209, 56%, 50%, 0.25);
        }
        
        &.contacts{
            .footer-social-list{
                display: flex;
                gap: 1rem;
                .footer-social-link{
                    .footer-social-icon{
                        stroke: var(--f-color-less-light);
                        border: 3px solid var(--f-color-gray);
                        border-radius: 50%;
                        padding: 0.25rem;
                        // height: 3rem;
                        // aspect-ratio: 1/1
                        transition: all var(--transition-speed-fast) ease-in-out;
                    }
                    &:hover{
                        .footer-social-icon{
                            background-color: var(--f-color-less-light);
                            stroke: var(--f-color-dark);
                            border: 3px solid var(--f-color-less-light);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 560px){
    footer{
        padding: 6rem 1rem 1rem 1rem;
        gap: 5rem;
        .footer-section{
            .footer-image{
                width: 80%;
            }
            .footer-logo{
                width: 5rem;
            }

            &.contacts{
                grid-template-columns: 2fr 3fr;
                .footer-logo{
                    justify-self: center;
                }
                .footer-social-list{
                    grid-column: 2/3;
                    grid-row: 1/2;
                    justify-self: center;
                }
                .small-text{
                    grid-column: span 2;
                    justify-self: center;
                    align-self: end;
                    border-top: var(--f-color-gray) 1px solid;
                    padding-top: 1rem;
                    width: 85%;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (min-width: 561px){
    footer{
        gap: 5rem;
        padding: 8rem 2rem 2rem 2rem;
        .footer-section{
            .footer-image{
                width: 50%;
            }
            .footer-logo{
                width: 8rem;
            }

            &.contacts{
                grid-template-columns: 1fr 3fr 1fr;
                align-items: center;
                .small-text{
                    justify-self: center;
                }
            }
        }
    }
}
@media screen and (min-width: 1300px){
    footer{
        grid-template-columns: 1fr 1fr;
        .footer-section{
            .footer-image{
                width: 65%;
            }
            &.contacts{
                grid-column: span 2;
            }
        }
    }
}

//Utility classes
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.xxl{
    font-size: var(--f-size-xxl);
}
.header{
    font-size: var(--f-size-header);
}
.small-header{
    font-size: var(--f-size-small-header);
}
.title{
    font-size: var(--f-size-title);
}
.paragraph{
    font-size: var(--f-size-paragraph);
}
.small-text{
    font-size: var(--f-size-small);
}

.dark{
    color: var(--f-color-dark);
}
.gray{
    color: var(--f-color-gray);
}
.light{
    color: var(--f-color-light);
}
.less-light{
    color: var(--f-color-less-light);
}

.blue-gradient-text{
    background: var(--f-color-gradient-blue);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-gradient 3s infinite linear;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
}
.violet-gradient-text{ 
    background: var(--f-color-gradient-violet);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
    animation: text-gradient 3s infinite linear;
}
.gray-gradient-text{ 
    background: var(--f-color-gradient-gray);
    text-shadow: none;
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 0px var(--f-color-gray); */
    // animation: text-gradient 3s infinite linear;
}
@keyframes text-gradient{
    0%{background-position: 0% center;}
    100%{background-position: -200% center;}
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.button{
    border-radius: 0.5rem;
    background-image: var(--bg-gradient-button);
    background-size: 250%;
    background-position: 100% 100%;
    border: none;
    cursor: pointer;
    // text-transform: uppercase;
    transition: background-position var(--transition-speed-slow)  cubic-bezier(.77,0,.18,1);
    box-shadow: 0 0 20px hsla(0, 0%, 25%, 0.5);
    &:hover{
        background-position: 0% 0%;
    }
}

.grid{
    display: grid;
}
.half-section{
    display: grid;
    gap: 0.5rem;
}
option{
    text-align: center;
}
@media screen and (max-width: 560px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        .image-section{
            grid-row: 2/3;
        }
    }
}
@media screen and (min-width: 561px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }   
}