body {
  background-color: var(--background-body);
  transition: background-color var(--transition-speed-slow) ease;
}

.dark-mode .contact-link svg {
  stroke: var(--bg-color-blue-200) !important;
}

#content #contact {
  min-height: 100vh;
  min-height: 100lvh;
}
#content #contact p {
  line-height: var(--f-size-title);
}
#content #contact form {
  display: grid;
  gap: 0.5rem;
}
#content #contact form .form-input-group {
  display: grid;
  gap: 0.25rem;
}
#content #contact form .form-input-group .form-input {
  padding: 0.35rem;
  border-radius: 0.5rem;
  border: 2px solid var(--bg-color-blue-500);
  transition: border var(--transition-speed-fast) ease-in-out;
  width: 100%;
  box-shadow: 0 0 10px var(--f-color-less-light);
}
#content #contact form .form-input-group .form-input:hover, #content #contact form .form-input-group .form-input:focus {
  border: 2px solid var(--bg-color-pine-green);
  outline: none;
}
#content #contact form .form-input-group .form-input#form-message {
  resize: vertical;
  min-height: 2rem;
  background: linear-gradient(-45deg, var(--f-color-less-light) 0.75rem, transparent 1rem);
}
#content #contact form .form-input-group .form-input#form-email, #content #contact form .form-input-group .form-input#form-name {
  background-color: transparent;
}
#content #contact form .form-submit {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--bg-color-blue-500);
  box-shadow: 0 0 10px var(--f-color-less-light);
  transition: all var(--transition-speed-fast) ease-in-out;
}
#content #contact form .form-submit:hover, #content #contact form .form-submit:focus {
  border: 2px solid var(--bg-color-pine-green);
  background-color: var(--bg-color-pine-green);
  color: var(--f-color-light);
}
#content .contact-links {
  display: grid;
}
#content .contact-links .contact-link {
  display: flex;
  align-content: center;
  gap: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
#content .contact-links .contact-link svg {
  stroke: var(--bg-color-blue-600);
  height: 3rem;
  width: 3rem;
  transition: stroke var(--transition-speed-slow) ease;
}
#content .contact-links .contact-link span {
  line-height: 3rem;
}
#content .content-section {
  position: relative;
}
@media screen and (max-width: 560px) {
  #content .content-section {
    padding: 8rem 1rem 4rem 1rem;
  }
  #content .contact-links {
    padding: 0rem 1rem 4rem 1rem;
    justify-content: center;
    gap: 0.5rem;
  }
  #content .section-image {
    width: 90%;
    justify-self: center;
  }
}
@media screen and (min-width: 561px) {
  #content .content-section {
    padding: 8rem 3rem 4rem 3rem;
  }
  #content .section-image {
    width: clamp(30vw, 90%, 45vw);
    max-width: 500px;
    justify-self: center;
  }
  #content .email-link {
    grid-column: 1/3;
  }
  #content .contact-links {
    padding: 0rem 3rem 4rem 3rem;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1300px) {
  #content .content-section {
    padding: 10rem 12rem 6rem 12rem;
  }
  #content .contact-links {
    padding: 0rem 16rem 6rem 16rem;
  }
  #content .contact-links .contact-link {
    display: flex;
    align-content: center;
    gap: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  #content .contact-links .contact-link svg {
    stroke: var(--bg-color-blue-600);
    height: 3rem;
    width: 3rem;
  }
  #content .contact-links .contact-link span {
    line-height: 3rem;
  }
}
.link {
  text-decoration: none;
  font-family: var(--f-family-josefin);
  font-size: var(--f-size-paragraph);
  transition: all var(--transition-speed-fast) ease-in-out;
  white-space: nowrap;
  width: -moz-max-content;
  width: max-content;
}
.link::before {
  content: "";
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--transition-speed-slow) ease-in-out;
  z-index: 1;
}
.link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.light-bg-link:hover {
  color: var(--f-color-dark);
}
.light-bg-link::before {
  background-color: var(--f-color-dark);
}

.dark-bg-link:hover {
  color: var(--f-color-light);
}
.dark-bg-link svg {
  stroke: var(--f-color-light);
}
.dark-bg-link::before {
  background-color: var(--f-color-light);
}

.button {
  border-radius: 0.5rem;
  background-image: var(--bg-gradient-button);
  background-size: 250%;
  background-position: 100% 100%;
  border: none;
  cursor: pointer;
  transition: all var(--transition-speed-slow) cubic-bezier(0.77, 0, 0.18, 1);
  box-shadow: 0 0 20px hsla(0, 0%, 25%, 0.5);
}
.button:hover {
  background-position: 0% 0%;
  scale: 0.975;
}

.grid {
  display: grid;
}

.half-section {
  display: grid;
  gap: 0.5rem;
}

@media screen and (max-width: 560px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .grid .image-section {
    grid-row: 2/3;
  }
}
@media screen and (min-width: 561px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
}/*# sourceMappingURL=contacts.css.map */